/* write your override styles here */

#wall .tag-1 {
    display: none;
}

#wall .tag-2 {
    display: none;
}

#wall .tag-3 {
    background: none;
        border: none;
}
.parent .tag-4 {
    display: none; 
}

.parent .tag-5 {
    display: none;
}

.slick {
    background: none !important;
    color: black !important;
    font-size: 16px !important;
    font-weight: normal !important;
    border: none !important;
}

.slick .tag-6 {
    display: none;
}

